<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/src/person/infrastructure/views/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?
  family=Poppins:wght@300;400;500;600;700&display=swap">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#header").load("/src/person/infrastructure/views/header.html");
            $("#footer").load("/src/person/infrastructure/views/footer.html");
        });
    </script>
</head>
<body>
<div id="header"></div>
<div class="home">
    <div class="row">
        <div class="form-container">
            <h1 id="welcome">Bienvenido</h1>
        </div>
        <div class="listing-section" id="productListing"></div>
        <button id="button" onclick="showProducts()">Mostrar productos</button>
    </div>
</div>
<div id="footer"></div>
    <script src="/src/product/infrastructure/views/js/components/productsShop.js"></script>
</body>
</html>