<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-commerce</title>
  <link rel="stylesheet" href="/src/views/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?
  family=Poppins:wght@300;400;500;600;700&display=swap">

</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="logo">
      <a href=""><img src="/img/shop.png" width="50px" ></a>
    </div>
    <nav>
      <ul>
        <li><a href="">Productos</a></li>
        <li><a href="">Cuenta</a></li>
      </ul>
    </nav>
    <img src="/img/shopping-cart.png" width="30px" height="30px">
  </div>
</div>
<div class="home">
  <div class="row">
    <div class="form-container">
      <h1 id="welcome">Bienvenido</h1>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Descarga nuestra aplicación</h3>
      </div>
      <div class="footer-col-3">
        <h3>Enlaces importantes</h3>
        <ul>
          <li>Cupones</li>
          <li>Politica de cambio</li>
          <li>Preguntas frecuentes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="/src/views/js/personAPI.js"></script>
<script src="/src/views/js/script.js"></script>
</body>

</html>